<a href="https://colab.research.google.com/github/waseemk-786/b18-groupchart/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
2+9999999

10000001

In [3]:
import pandas as pd
dataset =pd.read_csv('Data.csv')

In [5]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [8]:
dataset.tail()

   Country   Age   Salary Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [10]:
dataset.head(2)

  Country   Age   Salary Purchased
0  France  44.0  72000.0        No
1   Spain  27.0  48000.0       Yes

In [12]:
X=dataset.iloc[:,:-1].values

In [13]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [14]:
Y=dataset.iloc[:,-1].values

In [15]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [16]:
from sklearn.impute import SimpleImputer
import numpy as np 
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('encoders',OneHotEncoder(),[0])],remainder='passthrough')
X=ct.fit_transform(X)
print(X)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [19]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(Y)
print(Y)

[0 1 0 0 1 1 0 1 0 1]

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X[:,[-2-1]]=sc.fit_transform(X[:,[-2-1]])
print(X)

[[1.0 0.0 -0.6546536707079772 44.0 72000.0]
 [0.0 0.0 1.5275252316519468 27.0 48000.0]
 [0.0 1.0 -0.6546536707079772 30.0 54000.0]
 [0.0 0.0 1.5275252316519468 38.0 61000.0]
 [0.0 1.0 -0.6546536707079772 40.0 63777.77777777778]
 [1.0 0.0 -0.6546536707079772 35.0 58000.0]
 [0.0 0.0 1.5275252316519468 38.77777777777778 52000.0]
 [1.0 0.0 -0.6546536707079772 48.0 79000.0]
 [0.0 1.0 -0.6546536707079772 50.0 83000.0]
 [1.0 0.0 -0.6546536707079772 37.0 67000.0]]

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [22]:
print(X_train)

[[0.0 1.0 -0.6546536707079772 30.0 54000.0]
 [0.0 0.0 1.5275252316519468 27.0 48000.0]
 [0.0 0.0 1.5275252316519468 38.77777777777778 52000.0]
 [0.0 1.0 -0.6546536707079772 40.0 63777.77777777778]
 [1.0 0.0 -0.6546536707079772 37.0 67000.0]
 [1.0 0.0 -0.6546536707079772 48.0 79000.0]
 [1.0 0.0 -0.6546536707079772 44.0 72000.0]
 [0.0 0.0 1.5275252316519468 38.0 61000.0]]

In [23]:
print(X_test)

[[1.0 0.0 -0.6546536707079772 35.0 58000.0]
 [0.0 1.0 -0.6546536707079772 50.0 83000.0]]

In [24]:
print(Y_train)

[0 1 0 1 1 1 0 0]

In [25]:
print(Y_test)

[1 0]

In [26]:
X_train

array([[0.0, 1.0, -0.6546536707079772, 30.0, 54000.0],
       [0.0, 0.0, 1.5275252316519468, 27.0, 48000.0],
       [0.0, 0.0, 1.5275252316519468, 38.77777777777778, 52000.0],
       [0.0, 1.0, -0.6546536707079772, 40.0, 63777.77777777778],
       [1.0, 0.0, -0.6546536707079772, 37.0, 67000.0],
       [1.0, 0.0, -0.6546536707079772, 48.0, 79000.0],
       [1.0, 0.0, -0.6546536707079772, 44.0, 72000.0],
       [0.0, 0.0, 1.5275252316519468, 38.0, 61000.0]], dtype=object)

In [27]:
X_test

array([[1.0, 0.0, -0.6546536707079772, 35.0, 58000.0],
       [0.0, 1.0, -0.6546536707079772, 50.0, 83000.0]], dtype=object)

In [28]:
Y_train

array([0, 1, 0, 1, 1, 1, 0, 0])

In [29]:
Y_test

array([1, 0])